@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}


body{
    margin: auto;
    overflow-x: hidden;

}





.nav-bars {
    color: white;
    position: absolute;
    height:30px;
    width:41%;
    border-radius: 50px;
    background-color: black;
    top:85%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    margin-left: 33%;
    font-size: 17px;
 
}
   
.nav-bars a{
    text-decoration: none;
    color: white;
    gap:1%;
    align-items: center;
    padding: 1%;
    margin-left: 2%;
}
.nav-bars a:hover{
       
    background: rgb(34, 33, 33);
   

}
.nav-bars a.active{
    background-color: black;
    color: rgb(43, 42, 42);
}
.reserve{
    background-color: grey;
    height: 50px;
    width: 130px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    
    

}
.reserve:hover{
    background: white;
}
.fa-whatsapp{
    position: absolute;
    left: 145%;
    padding: 2%;
top: 8%;
font-size: 38px;
border: 1px solid black;
 width: 35px;
height: 35px;  
border-radius: 70px;
background-color: rgb(20, 20, 20);

}
.singer{
    text-align: center;
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)),url(images/acoustic-them_mueshrooms.jpg);
    width: 100vw;
    height: 190vh;

    background-size: cover;
     
        border-radius: 20px;
        margin-top: -3%;
    }
    .singer h1{
      color: white;
      padding-top: 22%;
      padding-left: 8%;
      font-size: 60px;
      font-family: poppins;
    }
    .fa-bars{
        color: grey;
    }
    .fa-clock{
        color: grey;
    }





    @media screen and (min-width: 320px) and (max-width: 857px) {

        body{
       margin: auto;
       overflow-x: hidden;
   
   
   

   .singer{
       text-align: center;
       background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)),url(images/acoustic-them_mueshrooms.jpg);
       width: 100vw;
       height: 50vh;
    
       /* background-size: cover; */
        
           border-radius: 20px;
       }
       .singer h1{
         color: black;
         padding-top: 150%;
         font-size: 20px;
         font-family: poppins;
         padding-left: 8%;
       }







   .nav-bars {
       display: flex;
       color: white;
       position: absolute;
       height:30px;
       width:93%;
       border-radius: 50px;
       background-color: black;
       top:90%;
       padding-top: 1%;
       padding-bottom: 2%;
   
       margin-left: 1%;
       font-size: 9px;
   
   }
     
   .nav-bars a{
       text-decoration: none;
       color: white;
       gap:1%;
  
   }
   .reserve{
       background-color: grey;
       height: 20px;
       width: 65px;
       font-size: 10px;
       border-radius: 30px;
       border: none;
       cursor: pointer;
      
      
  
   }
   .reserve:hover{
       background: white;
   }
}

.fa-whatsapp{
   position: absolute;
   left: 86%;
   padding: 2%;
top: -130%;
font-size: 38px;
border: 1px solid black;
width: 35px;
height: 35px;  
border-radius: 70px;
background-color: rgb(20, 20, 20);

}





}















    