@font-face {
    font-family:Poppins;
    src: url(Random\ papi.ttf);
} 
body{
    background-color: black;
    color: white;
    overflow: hidden;
    margin-top: 60px;
   
}
.social-medias{
    width: 5%;
    display: flex;
    margin-left: 93%;
    right: 1%;
    top: 4%;
    gap: 20%;
    a{
        text-decoration: none;
        color:gray;
        cursor: pointer;
    }
}
#media{
    font-size: 13px;
    padding: 10px;
    display: flex;
    color:gray;
    border: 1px solid gray;
    border-radius: 50%;
   
}
.review{
    font-family:Poppins;
}
.description{
display: flex;
gap: 50px;
margin-top: -15px;
margin-left: 27%;
line-height: 35px;
color: white;
text-align:center;
}
#review_logo{
    width: 220px;
    margin-left: 9px;
}
.logo{
    margin-left: 790px;
    h1{
        margin-left: 52px;
        margin-top: 60px;
        color: white;
        font-size: 40px;
    }
}
#top-quote{
    margin-left: 28%;
    color: rgb(231, 23, 23);
    font-size: 40px;
}
#bottom-quote{
    margin-left: 71%;
    bottom: 28%;
    position: absolute;
    color: rgb(231, 23, 23);
    font-size: 40px;
}
#previous{
    font-size: 40px;
    color: white;
    margin-top: 70px;
    color: rgb(39, 38, 38);
}
#next{
    font-size: 40px;
    color: white;
    margin-top: 70px;
    color: rgb(39, 38, 38);
}

  
#whatsapp{
    padding: 2% ;
  
    position: absolute;
    left: 152%;
top: 8%;
font-size: 38px;
border: 1px solid black;
 width: 32px;
height: 34px;  
border-radius: 90px;
background-color: rgb(20, 20, 20);

}




  .nav-bars {
   
    color: white;
    position: absolute;
    height:30px;
    width:41%;
    border-radius: 50px;
    background-color: black;
    top:85%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    margin-left: 30%;
    font-size: 17px;
 
}
   
.nav-bars a{
    text-decoration: none;
    color: white;
    gap:1%;
    align-items: center;
    padding: 1%;
    margin-left: 2%;
}
.nav-bars a:hover{
    background: black;
}
.reserve{
    background-color: grey;
    height: 50px;
    width: 130px;
    border-radius: 30px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;

}
.reserve:hover{
    background: white;
}


.description3{
    display: flex;
    gap: 50px;
    margin-top: -15px;
    padding-left: 32%;
    line-height: 35px;
    color: white;
    text-align:center;
    }













    








    @media screen and (min-width: 320px) and (max-width: 857px) {

        body{
            background-color: black;
            color: white;
            /* overflow: hidden; */
            margin-top: 60px;
           
        }
        .social-medias{
            width: 5%;
            display: flex;
            margin-left: 93%;
            right: 1%;
            top: 4%;
            gap: 20%;
            a{
                text-decoration: none;
                color:gray;
                cursor: pointer;
            }
        }
        #media{
            font-size: 13px;
            padding: 10px;
            display: flex;
            color:gray;
            border: 1px solid gray;
            border-radius: 50%;
           
        }
        .review{
            font-family:Poppins;
            font-size: 12px;
        }
        .description{
        display: flex;
        gap: 50px;
        margin-top: -15px;
        margin-left: 1%;
        line-height: 35px;
        color: white;
        text-align:center;
        }
        #review_logo{
            width: 220px;
            margin-left: -129%;
        }
        .logo{
            margin-left: 790px;
            h1{
                margin-left: 52px;
                margin-top: 60px;
                color: white;
                font-size: 40px;
            }
        }
        #top-quote{
            margin-left: 2%;
            margin-top: -19%;
            color: rgb(231, 23, 23);
            font-size: 30px;
        }
        #bottom-quote{
            margin-left: 71%;
            bottom: 28%;
            position: absolute;
            color: rgb(231, 23, 23);
            font-size: 30px;
        }
        #previous{
            font-size: 40px;
            color: white;
            margin-top: 20px;
            color: rgb(39, 38, 38);
        }
        #next{
            font-size: 40px;
            color: white;
            margin-top: 70px;
            color: rgb(39, 38, 38);
        }
        
          
        #whatsapp{
            padding: 2% ;
          
            position: absolute;
            left: 152%;
        top: 8%;
        font-size: 38px;
        border: 1px solid black;
         width: 32px;
        height: 34px;  
        border-radius: 90px;
        background-color: rgb(20, 20, 20);
        
        }
        
        .description3{
            display: flex;
            gap: 50px;
            margin-top: -15px;
            padding-left: 32%;
            line-height: 35px;
            color: white;
            text-align:center;
            }
        















        .nav-bars {
            color: white;
            position: absolute;
            height:30px;
            width:100%;
            border-radius: 50px;
            background-color: black;
            top:85%;
            padding-top: 1%;
            padding-bottom: 2%;
          
            margin-left: -1%; 
            font-size: 7px;
         
        }
           
        .nav-bars a{
            text-decoration: none;
            color: white;
            gap:1%;
            align-items: center;
            padding: 1%;
            margin-left: 2%;
        }
        .nav-bars a:hover{          
            background: rgb(34, 33, 33);  
        }
        .nav-bars a.active{
            background-color: black;
            color: rgb(43, 42, 42);
        }
        .reserve{
            background-color: grey;
            height: 18px;
            width: 80px;
            border-radius: 30px;
            border: none;
            transition-duration: 0.4s;
            cursor: pointer;
        
        }
        .reserve:hover{
            
        }
















    }
